.logo{
    vertical-align: middle;
    margin: auto;
    padding: auto;;
}

body{
    background-color:white;
    font-family: 'Baloo Bhaina', cursive;
    margin: 0;
    
}
.moduland{
    color: red;
}

.button{
    padding-top: 80px;
    padding-bottom: 30px;
}

a{
  opacity: 1; 
  transition: opacity 3s;
  -webkit-transition: opacity 3s;
}

a:hover{
    opacity: 0.3;
}
hr{
    border-color: darkorange;
    border-style:double;
}
.fork-pc{
    top: 0;
    border: 0;
    left: 0;
    position: absolute;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}


#login-footer p{
    vertical-align: center;
    margin:auto;
}
#login-footer{
    color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #f2b56b;
    position:fixed;
    font-size: 17px;
    margin-top: 100px;
    height: auto;
}